/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
  .headertop {
    .logo {

      text-align: center;
    }

    .sharing {
      width: 100%;
      margin: 0 auto;


      ul {
        margin: 0 auto;
        display: table;
        padding: 20px 0;
      }

    }
  }

}
@media (min-width: 768px){
  .headertop {



  }
}


@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }

  .headertop {
    .logo {
      text-align: center;
    }
    .sharing {

      ul {
        margin: 0 auto;
        display: table;
        padding: 20px 0;
      }

    }
  }
}

@media(max-width:600px) {
  .headertop {

    .sharing {

      ul {
        margin: 0 auto;
        display: table;
        padding: 20px 0;
        width: 100%;

        li {
          float: none;
          clear: both;

          div {
            float: none;
            text-align: center;
          }
        }
        .icon-bg {
          width: 80px;
          margin: 0 auto;
          div {
            float: left;
          }
        }
      }

    }
  }
}
